.title {
  font-family: 'Archivo Black', sans-serif;
  font-size: 95px;
  color: #D32f2f;
  opacity:0.8;
  margin-top: 340px;
}
.sub-title {
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 35px;
}
.small-title {
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 26px;
}
.well {
  background-color: rgba(10,10,10, 0.5);
  border:none;
}

.fear-form {
  margin-top:45px;
}
.form-title {
  font-size: 38px;
  font-family: 'Archivo Black', sans-serif;
  color: #D32f2f;
  opacity:0.8;
}
body { 
  background: url("../imgs/darkclouds.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
}
a {
  color: #afb42b;
}
a:hover {
color: #cddc39;
}

ul {
  list-style: none;
}
li {
  font-size:22px;
}
.red {
  color: #D32f2f;
}

