<div ng-show="fear.members.length">
<hr>
  <h4 class="small-title">Everyone who is afraid of <span class="red"> {{fear.name}}</span></h4>
  <ul>
    <li ng-repeat="member in fear.members">
      {{member.name}}
    </li>
  </ul>
</div>

<div>
  <h4 class="small-title">Who else is afraid of <span class="red">{{fear.name}}</span>? Add them!</h4>
  <form ng-submit="addMember()" class="form-inline" role="form">
    <div class="form-group">
      <input type="text" ng-model="memberName" class="form-control" placeholder="Enter their name" required>
    </div>
    <button type="submit" class="btn btn-default">Submit </button>
  </form>
</div>